<h1>Add a new stylist</h1>
<form action="/stylists" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>
<a href="/">Go Back</a>
<a href="/stylists">View all stylists</a>
