<h1>You've added a new client</h1>

<h4>Client's name: @Model["client"].GetName()</h4>
<p>Stylist: @Model["stylist"].GetName()</p>

<a href='/clients/new'>Add nother client</a>
<a href='/'>View All Restaurants</a>
