<h3>This is @Model["client"].GetName()</h3>
<h3>Stylist: @Model["stylist"].GetName()</h3>

<p><a href="/clients">View all clients</a></p>
<p><a href="/clients/new">Add a another client</a></p>
<p><a href="/">Return Home</a></p>
