<h1>Edit Stylist</h1>
<hr />
<h2>Edit stylist: @Model.GetName()</h2>
<form action="/stylists/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="stylists-id" type="hidden" value="@Model.GetId()">
  <label for="name">Stylist name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Return home</a></h4>
