<h1>You've added a new stylist!</h1>
<h4>@Model.GetName()</h4>

<a href='/stylists/new'>Add Another stylist</a>
<p><a href="/clients/new">Add a new client</a></p>
<a href='/stylists'>View All stylists</a>
